* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F5F5;
}

h1 {
	color: #696969;
    border-bottom: 1px solid #bdbdbd;
    border-bottom-color: rgb(189, 189, 189);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 35px;
}

h2 {
    color: #696969;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
}

.panelMain {
	background-color: white;
    border: 1px solid #bdbdbd;
    height: 480px;
    margin: 30px auto;
    padding: 30px;
    width: 670px;
}

.panelRegister {
	background-color: #F5F5F5;
    border: 1px solid #bdbdbd;
    float: left;
    height: 310px;
    margin-top: 30px;
    padding: 15px;
    width: 282px;
}

.panelLogo {
    background-repeat: no-repeat;
    float: right;
    height: 250px;
    margin-top: 40px;
    width: 290px;
    border:none;
}

.input {
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px;
}

.button {
	margin-right: 5px;
	margin-top: 60px;
}

.linkBack {
	color: #696969;
    float: right;
    font-size: 14px;
    margin-right: 15px;
    margin-top: 70px;
    text-decoration: none;
}